.answers input {
    display: none;
}

.answers label {
    cursor: pointer;
}

.answers input:checked + label {
    background: #cfe2ff;
    border-color: #b6d4fe;
}

.answers input:checked + label::before {
    content: '✓';
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    font-weight: bold;
}
